---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Card from "../components/Card.astro";
---

<DefaultLayout title="Home Page">
  <h1>LAB.</h1>
  <div class="grid">
    <Card
      url="https://codepen.io/mieras/full/qBvyMdE"
      img="https://codepen.io/mieras/pen/qBvyMdE/image/large.png"
      codepen="qBvyMdE"
      title="Wormhole"
      footer="Maarten"
    />
    <Card
      url="https://codepen.io/mieras/full/abMKMVx"
      img="https://codepen.io/mieras/pen/abMKMVx/image/large.png"
      codepen="abMKMVx"
      title="Rococo"
      footer="Maarten"
    />
    <Card
      url="https://codepen.io/mieras/full/JjzZXVw"
      img="https://codepen.io/mieras/pen/JjzZXVw/image/large.png"
      codepen="abMKMVx"
      title="Optic Magazine"
      footer="Maarten"
    />

    <Card
      url="https://codepen.io/mieras/full/GReQpew"
      img="https://codepen.io/mieras/pen/GReQpew/image/large.png"
      codepen="GReQpew"
      title="Rotating Text"
      footer="Maarten + Kirupa"
    />
  </div>
</DefaultLayout>

<style is:global>
  :root {
    --grid-border: 1px solid rgb(220, 220, 220);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    font-weight: normal;
  }

  h1 {
    font-family:
      Inter,
      Inter Tight,
      Roboto,
      "Helvetica Neue",
      "Arial Nova",
      "Nimbus Sans",
      Arial,
      sans-serif;
    font-weight: 900;
    letter-spacing: -0.15rem;
    font-size: 33vw;
    color: black;
  }

  img {
    max-width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    border-top: var(--grid-border);
    border-left: var(--grid-border);
    width: 100%;
  }
  .grid__item {
    border-right: var(--grid-border);
    border-bottom: var(--grid-border);
    display: flex;
    flex-direction: column;
    padding: 3vw;
  }
</style>
